let mapleader=" "

" Settings ====================================
" set :nohlsearch
set so=10
set nu

" needs an ide reload
set relativenumber

set showmode
set showcmd

set clipboard+=unnamed

" search improve
set ignorecase
set smartcase
set incsearch
set nohlsearch


" Plugins =====================================
set highlightedyank


" Mappings ====================================
map <leader>sg <Action>(Generate)
map <leader>sv <Action>(IntroduceVariable)
map <leader>sm <Action>(ExtractMethod)
map <leader>sm <Action>(ExtractMethod)
map <leader>sc <Action>(IntroduceConstant)

map <leader>kf <Action>(GotoFile)
map <leader>kc <Action>(GotoClass)

map <C-p> <Action>(Back)
map <C-n> <Action>(Forward)

map <leader>r <Action>(RenameElement)

map <leader>jd <Action>(GotoDeclaration)
map <leader>ji <Action>(GotoImplementation)
map <leader>jt <Action>(GotoTest)

" map <leader>f <Plug>(easymotion-s)
map <leader>F <Action>(FindInPath)

map <leader>pr <Action>(ExternalSystem.RefreshAllProjects)
map <leader>ps <Action>(SelectInProjectView)
map <leader>pv <Action>(IdeaVim.ReloadVimRc.reload)

map <leader>gb <Action>(Annotate)

map <leader>hd <Action>(QuickJavaDoc)

map <leader>a <Action>(GotoAction)

map <leader>df <Action>(RunClass)
map <leader>dr <Action>(Run)
map <leader>db <Action>(Debug)


imap <C-i> <Action>(ParameterInfo)

map <leader>ke <Action>(RecentFiles)
map <leader>kj <Action>(FindInPath)
map <leader>/ <Action>(Find)

map <leader>e <Action>(GotoNextError)
map <leader>E <Action>(GotoPrevious1Error)



" Don't use Ex mode, use Q for formatting.
map Q gq

