let mapleader=" "

" Settings ====================================
" set :nohlsearch
set so=10
set nu

" needs an ide reload
set relativenumber

set showmode
set showcmd

set clipboard+=unnamed

" search improve
set ignorecase
set hlsearch
set incsearch
nnoremap <Esc> :nohlsearch<CR>

map <C-l> <C-w>l
map <C-h> <C-w>h
map <C-j> <C-w>j
map <C-k> <C-w>k

" Plugins =====================================
set highlightedyank
set easymotion


" Mappings ====================================

" s - generate
map <leader>sg <Action>(Generate)
map <leader>sv <Action>(IntroduceVariable)
map <leader>sm <Action>(ExtractMethod)
map <leader>sc <Action>(IntroduceConstant)

" r - rename
map <leader>r <Action>(RenameElement)

" j - jump
map <leader>jd <Action>(GotoDeclaration)
map <leader>ji <Action>(GotoImplementation)
map <leader>jt <Action>(GotoTest)

" e - error
map <leader>e <Action>(GotoNextError)
map <leader>E <Action>(GotoPreviousError)

" k - search
map <leader>k <Plug>(easymotion-s)

" p - project
map <leader>pr <Action>(ExternalSystem.RefreshAllProjects)
map <leader>ps <Action>(SelectInProjectView)
map <leader>pv <Action>(IdeaVim.ReloadVimRc.reload)
map <leader>pw <Action>(ActivateProjectToolWindow)

" g - git
map <leader>ga <Action>(Annotate)
map <leader>gc <Action>(CheckinProject)

" h - help
map <leader>h <Action>(QuickJavaDoc)
map gh <Action>(ShowHoverInfo)

" a - action
map <leader>a <Action>(GotoAction)

" d - Run/Debug
map <leader>df <Action>(RunClass)
map <leader>dr <Action>(Run)
map <leader>db <Action>(Debug)

" breackpoint - build
map <leader>b <Action>(ToggleLineBreakpoint)

imap <C-i> <Action>(ParameterInfo)

" f - find
map <leader>fe <Action>(RecentFiles)
map <leader>fp <Action>(FindInPath)
map <leader>ff <Action>(GotoFile)
map <leader>fc <Action>(GotoClass)
map <leader>/ <Action>(Find)

map <leader>m <Action>(ToggleDistractionFreeMode)

nmap [[ <Action>(MethodUp)
nmap ]] <Action>(MethodDown)

nmap <leader>c <Action>(CallHierarchy)

map <leader><enter> <Action>(HideActiveWindow)

" Don't use Ex mode, use Q for formatting.
map Q gq

